
  @import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./4ede5a33c5490195b2b17466ad26d124.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed ;
}

.container{
    padding: 5em;
    text-align: center;
    font-family: sans-serif;
    background-color: lightskyblue;
    border-radius: 20px;
    box-shadow: 10px 10px 20px 20px #d3a613;
}

h1{
    margin-bottom: 10px;
    font-family: "silkscreen";
    font-size: 2em;
    font-weight: 700;
    color: orange;
}

span{
    font-size: 2.5em;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    text-transform: uppercase;
}

img{
    width: 400px;
    height: 400px;
}

img:last-of-type{
    transform: rotateY(180deg);
}

@media screen and (max-width: 768px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .container{
        width: 80%;
    }

    span{
        display: block;
        margin: 0 auto;
        padding: 10px;
        font-size: 1rem;
    }

    img{
        height: 150px;
        width: 150px;
    }
}